* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	scroll-behavior: smooth;
}

@font-face {
  font-family: Ame;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?v=9010423031374408192);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?%23iefix&v=9010423031374408192)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geo;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?v=8482170230053308163);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?%23iefix&v=8482170230053308163)
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  height: 100%;
  background: url(./images/marble-background.jpg);
  background-color: var(--primary);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

:root {
  --font3: Ame;
  --font2: sans-serif;
  --font1: Geo;
  --primary: white;
  --small-font: 1rem;
  --medium-font: 1.2rem;
  --secondary: rgb(10, 7, 2);
  --secondary-contrast: rgba(10, 7, 2, 0.5);
  --accent: -webkit-linear-gradient(
    rgb(249, 14, 132, 0.8),
    rgb(146, 8, 137, 0.8) 70%
  );
  --pink: rgb(146, 8, 137, 0.8);
  --P-desktop: 1.8rem;
  --P-mobile: 1.6rem;
  --galleryOverlay: rgba(255, 255, 255, 0.3);
}

.gallery-container {
  padding: 1% 0%;
  height: 100%;
}

.gallery-container h1 {
  text-align: center;
}

.gallery-image-background {
  width: 100%;
  height: 500px;
  background: var(--secondary-contrast);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image-background > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  z-index: -1;
}

.gallery-image-background h1 {
  color: var(--primary);
}

h1 {
  color: var(--secondary);
  font-size: 5.2rem;
  font-family: var(--font3);
}

h2 {
  font-family: var(--font1);
  font-size: 3.2rem;
}

a {
  text-decoration: none;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
	padding: 1% 5%;
}

.gallery-interior,
.gallery-exterior {
  margin-bottom: 100px;
  text-align: center;
}

.gallery-interior > h2,
.gallery-exterior > h2 {
  margin-bottom: 25px;
}

.interior-links {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 8%;
  margin-bottom: 25px;
}

.interior-links > a {
  transition: .5s ease-in-out;
  font-size: var(--medium-font);
  color: var(--secondary);
  font-family: var(--font3);
}

.interior-links > a:hover {
  color: var(--pink);
}

.product-img-box {
  position: relative;
  width: 19%;
  height: 400px;
  background: var(--secondary);
  margin-bottom: 25px;
}

.product-img-box > img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  transition: 0.85s ease-in-out;
}

.name-product {
  background: var(--secondary);
  color: var(--primary);
  text-align: center;
  width: 100%;
  height: 15%;
  padding: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--galleryOverlay);
  overflow: hidden;
  width: 0;
  height: 85%;
  transition: 0.85s ease-in-out;
}

.overlay p {
  text-align: center;
  color: var(--secondary);
}

.overlay a {
  text-align: center;
  color: var(--pink);
  font-family: var(--font1);
  font-size: var(--medium-font);
}

.overlay a:hover {
  color: var(--secondary);
}

.text-product {
  white-space: nowrap;
  color: white;
  font-size: var(--P-desktop);
  font-family: var(--font3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.product-img-box:hover .overlay {
  width: 100%;
}

.product-img-box:focus .overlay {
  width: 100%;
}

.product-img-box:active .overlay {
  width: 100%;
}

.up {
  background: var(--secondary);
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
	transition: 0.85s ease-in-out;
}

.up:hover {
  background: var(--secondary-contrast);
}

.up img {
  width: 100%;
}

.back-to-home {
	display: flex;
	background: var(--secondary);
	padding: 20px 25px;
	width: 200px;
	text-align: center;
	justify-content: center;
	color: var(--primary);
	border: 2px solid transparent;
	transition: 0.85s ease-in-out;
	position: absolute;
	top: 50vh;
	right: 5%;
}

.back-to-home:hover {
	background: transparent;
	border: 2px solid var(--secondary);
	color: var(--secondary);
}