* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Ame;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?v=9010423031374408192);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?%23iefix&v=9010423031374408192)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geo;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?v=8482170230053308163);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?%23iefix&v=8482170230053308163)
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --font3: Ame;
  --font2: sans-serif;
  --font1: Geo;
  --primary: white;
  --small-font: 1rem;
  --medium-font: 1.2rem;
  --secondary: rgb(10, 7, 2);
  --secondary-contrast: rgba(10, 7, 2, 0.3);
  --accent: -webkit-linear-gradient(
    rgb(249, 14, 132, 0.8),
    rgb(146, 8, 137, 0.8) 70%
  );
  --P-desktop: 1.8rem;
  --P-mobile: 1.5rem;
}

body {
  width: 100%;
  height: 100%;
  background: url(./images/marble-background.jpg);
  background-color: var(--primary);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: var(--secondary);
  font-size: 3.5rem;
  font-family: var(--font3);
}

h2 {
  color: var(--secondary);
  font-size: 2.5rem;
  font-family: var(--font3);
}

h3 {
  color: var(--secondary);
  font-size: 1.5rem;
  font-family: var(--font3);
}

p {
  font-size: 1.1rem;
  color: var(--secondary-contrast);
  font-family: var(--font1);
}

a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  font-family: var(--font1);
  color: var(--secondary);
  display: block;
}

button {
  font-size: var(--small-font);
  padding: 0.8rem;
  background-color: var(--secondary);
  color: var(--primary);
  outline: none;
  transition: 0.5s ease-in-out;
  font-family: var(--font1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  margin-bottom: 150px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 40%;
}

.logo img {
  height: 25px;
}

.logo-link {
  font-size: var(--P-desktop);
  color: var(--secondary);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  background-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.083);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px 5px;
}

.nav-links a:hover {
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*button containers design*/
.contact-us {
  background: var(--accent);
  padding-right: 5px;
  width: fit-content;
}

/*Home/Hero section design*/
.home {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  margin-bottom: 100px;
}

.home-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
}

.home-image {
  width: 50%;
}

.home-image > .project-img {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: start;
  position: relative;
}

.home-para > p {
  width: 80%;
  line-height: 1.7;
}

.hero-btn {
  display: flex;
  gap: 5%;
}

.home-info > .hero-btn > a.hero-call {
  background-color: var(--primary);
  color: var(--secondary);
}

.home-info > .hero-btn > a.hero-call:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.hero-call, .home-info a {
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary);
  width: 30%;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  font-size: 1.1rem;
}

.service-info > a {
  background-color: var(--secondary);
  text-align: center;
  padding: 1rem 1.5rem;
  color: var(--primary);
  border: 2px solid transparent;
  font-size: 1.1rem;
}

.home-info  a:hover,
.service-info > a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.home-heading > h1 > span,
.about-heading > h2 > span,
.service-heading > span,
.project-heading > span,
.ceo-heading > span,
.footer-heading > span {
  position: relative;
}

.home-heading > h1 > span > .purple-bg,
.about-heading > h2 > span > .purple-bg,
.service-heading > span > .purple-bg,
.project-heading > span > .purple-bg,
.ceo-heading > span > .purple-bg,
.footer-heading > span > .purple-bg {
  background: var(--accent);
  width: 85%;
  padding: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 8px;
  z-index: -1;
}

.about-heading > h2 {
  font-size: 2.5rem;
}

.aka {
  font-size: 1.2rem;
  color: purple;
  word-spacing: 5px;
}

.akablack {
  color: var(--secondary);
}
/*Frame1 design for the home images*/

/*About section design*/

.about {
  margin-bottom: 100px;
}

.about-title {
  margin-bottom: 100px;
  display: flex;
  gap: 15px;
  padding-left: 0px;
}

.about-title > h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: var(--secondary-contrast);
}

.about-title > div {
  align-self: flex-end;
  color: var(--secondary-contrast);
  width: 100px;
  font-size: 2rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.about-first-img {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  position: relative;
}

.about-first-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.about-first-img-wrapper > .about-img-1 {
  width: 70%;
  height: 100%;
  z-index: 3;
}

.about-first-img-wrapper > .about-img-2 {
  width: 75%;
  height: 90%;
  z-index: 2;
}

.about-first-img-wrapper > .about-img-3 {
  width: 80%;
  height: 80%;
  z-index: 1;
}

.about-first-img-wrapper > .about-img-1,
.about-first-img-wrapper > .about-img-2,
.about-first-img-wrapper > .about-img-3 {
  position: absolute;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.about-first-img-wrapper > .about-img-1 > .back-bg2 {
  top: 50px;
  width: 500px;
  height: 40px;
  z-index: -1;
}

.about-first-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 25px 0 0 0;
  gap: 40px;
  height: 500px;
}

.about-info h2 {
  width: 80%;
}

.about-info p {
  width: 80%;
  line-height: 1.7;
}

.about-links {
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 5px;
}

.about-links > div {
  width: 35px;
  height: 35px;
}

div.about-links > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.about-links > div > a > img {
  width: 100%;
}

.inst {
  padding: 5px;
}

.about-phone {
  padding: 6px;
}

.about-contact {
  display: flex;
  flex-direction: column;
}

.about-email,
.about-call {
  display: flex;
  gap: 5px;
}

.up {
  background: var(--accent);
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up:hover {
  background: var(--accent);
}

.up img {
  width: 100%;
}

/*Service design*/
.service {
  background-color: rgba(0, 0, 0, 0.459);
  margin-bottom: 150px;
  position: relative;
  padding: 1% 5% 5%;
  width: 100%;
  height: fit-content;
}

.back-bg3 {
  width: 200px;
  height: 20px;
  transform: rotate(90deg);
  background: var(--accent);
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.service-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
}

.service-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 40px;
  flex-grow: 0;
}

.service-images {
  display: flex;
  width: 60%;
  gap: 2%;
}

.service-images-box {
  width: 99%;
  background: var(--accent);
  padding-bottom: 5px;
  height: 400px;
}

.service-images-box-2 {
  width: 99%;
  background: var(--accent);
  padding-bottom: 5px;
  height: 400px;
}

.service-info h2 {
  width: 100%;
  color: var(--primary);
}

.service-info p {
  width: 100%;
  color: var(--primary);
}

.service-images-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
  height: 100%;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
}

.slideshow-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-caption h3 {
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 15px;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-contrast);
}

/*Project design*/
.project {
  margin-bottom: 150px;
  position: relative;
  padding: 1% 5%;
}

.project-title {
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
  padding: 0px 35px 35px 0px;
  position: relative;
}

.project-title > h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: var(--secondary-contrast);
}

.project-title > div {
  align-self: flex-end;
  color: var(--secondary-contrast);
  width: 100px;
  font-size: 2rem;
}

.project-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.project-img {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: start;
  position: relative;
}

.project-img-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.project-img-box > .project-img-1 {
  width: 80%;
  height: 400px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.project-img-box .project-img-2 {
  width: 75%;
  height: 450px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.back-bg4 {
  position: absolute;
  top: 160px;
  width: 35%;
  height: 100px;
  z-index: 3;
  background: var(--accent);
  left: 50%;
}

.project-img-box .project-img-3 {
  width: 70%;
  height: 500px;
  position: absolute;
  z-index: 3;
}

.project-img-1,
.project-img-2,
.project-img-3 {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.project-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.project-info > a {
  background-color: var(--secondary);
  border: 2px solid transparent;
  color: var(--primary);
  padding: 1rem 2rem;
  width: fit-content;
  transition: 0.5s ease-in-out;
}

.project-info > a:hover {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid;
}

.back-bg5 {
  width: 100%;
  height: 50px;
  background: var(--accent);
  position: absolute;
  top: 40%;
  z-index: 1;
}

/* Client design*/
.client {
  margin-bottom: 150px;
  position: relative;
  padding: 1% 5%;
}

.client-title {
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
  padding: 0px 35px 35px 0px;
  position: relative;
}

.client-title > h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: var(--secondary-contrast);
}

.client-title > div {
  align-self: flex-end;
  color: var(--secondary-contrast);
  width: 100px;
  font-size: 2rem;
}

.client-content {
  display: flex;
}

.ceo-info > h2 {
  width: 90%;
  margin-bottom: 50px;
}

.ceo-info p {
  line-height: 1.6;
  width: 70%;
}

.client-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client-comment-box {
  margin-bottom: 50px;
}

.client-comment-box-2 {
  margin: 0;
}

.client-review {
  margin-bottom: 25px;
}

.client-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.client-details > h4 {
  font-size: var(--P-desktop);
}

.client-details > p {
  font-size: var(--medium-font);
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Footer design*/
.footer {
  margin-bottom: 0;
  padding: 2% 5%;
  background: var(--secondary-contrast);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 100px;
}

.footer-head-box {
  width: 30%;
  margin-top: 25px;
}

.footer-head-box > h1 {
  width: 500px;
}

.footer-call-and-gallery {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-call-and-gallery > p {
  width: 90%;
  margin-bottom: 25px;
}

.footer-contact-and-gallery {
  display: flex;
  gap: 10px;
}

.footer-contact-and-gallery > a {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px 40px;
  border: 2px solid transparent;
  transition: 0.85s ease-in-out;
}

.footer-contact-and-gallery > a:hover {
  background-color: transparent;
  border: 2px solid var(--secondary);
}

hr {
  margin: 0 0% 0;
}

.footer-company-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 50px;
}

.footer-links {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}

.footer-media {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}

.footer-media > div {
  width: 25px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-media > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-media > div > a > img {
  width: 100%;
}
/*media design*/
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 200px;
  right: 0.5%;
  z-index: 10;
}

.cen {
  padding-top: 5px;
  padding-bottom: 5px;
}

.media p {
  writing-mode: vertical-lr;
}

.list-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-media div {
  width: 15px;
  height: 50px;
}

div.list-media > div > a {
  width: 100%;
  padding: 0;
  margin: 0;
}

div.list-media > div > a > img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    margin-bottom: 100px;
    width: 100%;
  }

  .logo {
    width: 20%;
  }

  .nav-links {
    width: 70%;
  }

  .home {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    margin-bottom: 150px;
    gap: 2%;
  }

  .home-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
  }

  .home-image {
    width: 53%;
  }

  .home-heading > h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  .home-para > p {
    width: 90%;
    line-height: 1.6;
    font-size: 1rem;
  }

  .hero-btn {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
  }

  .home-info > .hero-btn > div.hero-call {
    background-color: var(--primary);
  }
  
  .hero-btn > a.hero-call, .hero-btn  a.hero-view {
    background-color: var(--secondary);
    text-align: center;
    color: var(--primary);
    width: 65%;
    margin-bottom: 15px;
    border: 2px solid transparent;
    font-size: 1.1rem;
  }

  .service-info > a {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  .home-info > a:hover,
  .service-info > a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
  }

  .home-image > .project-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .home-image > .project-img .project-img-box {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .home-image > .project-img > .project-img-box .project-img-1 {
    width: 100%;
    height: 350px;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }

  .home-image > .project-img > .project-img-box .project-img-2 {
    width: 96%;
    height: 400px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  .home-image > .project-img > .back-bg4 {
    position: absolute;
    top: 150px;
    width: 50%;
    height: 70px;
    left: 50%;
  }

  .home-image > .project-img > .project-img-box .project-img-3 {
    width: 90%;
    height: 450px;
    position: absolute;
    z-index: 3;
  }

  .project-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*Frame1 design for the home images*/

  /*About section design*/
  .about {
    margin-bottom: 150px;
  }

  .about-heading > h2 {
    font-size: 2.5rem;
  }

  .aka {
    font-size: 1.1rem;
    color: purple;
    word-spacing: 5px;
  }

  .about-title {
    margin-bottom: 50px;
    display: flex;
    gap: 15px;
    padding-left: 0px;
  }

  .about-title > h2 {
    align-self: flex-end;
    line-height: 0.7;
    color: var(--secondary-contrast);
  }

  .about-title > div {
    align-self: flex-end;
    color: var(--secondary-contrast);
    width: 100px;
    font-size: 2rem;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
  }

  .about-first-img {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
  }

  .about-first-img-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .about-first-img-wrapper > .about-img-1 {
    width: 85%;
    height: 100%;
    z-index: 3;
  }

  .about-first-img-wrapper > .about-img-2 {
    width: 90%;
    height: 95%;
    z-index: 2;
  }

  .about-first-img-wrapper > .about-img-3 {
    width: 95%;
    height: 90%;
    z-index: 1;
  }

  .about-first-img-wrapper > .about-img-1,
  .about-first-img-wrapper > .about-img-2,
  .about-first-img-wrapper > .about-img-3 {
    position: absolute;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  }

  .about-first-img-wrapper > .about-img-1 > .back-bg2 {
    top: 50px;
    width: 500px;
    height: 40px;
    z-index: -1;
  }

  .about-first-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5% 3% 0;
    gap: 15px;
    height: 450px;
  }

  .about-info h2 {
    font-size: 1.5rem;
    width: 100%;
  }

  .about-info p {
    width: 100%;
    line-height: 1.6;
  }

  .about-links {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 5px;
  }

  .about-links > div {
    width: 35px;
    height: 35px;
  }

  div.about-links > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  div.about-links > div > a > img {
    width: 100%;
  }

  .inst {
    padding: 5px;
  }

  .about-phone {
    padding: 6px;
  }

  .about-contact {
    display: flex;
  }

  .about-email,
  .about-call {
    display: flex;
  }

  .service {
    padding: 1% 3% 5%;
  }

  /*Footer section*/
  .footer {
    margin-bottom: 0;
    padding: 2% 3%;
    background: var(--secondary-contrast);
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0%;
    margin-bottom: 50px;
  }

  .footer-head-box {
    text-align: center;
    width: 100%;
    margin-top: 25px;
    padding: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .footer-head-box > h1 {
    width: 70%;
    font-size: 3.5rem;
  }

  .footer-call-and-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .footer-call-and-gallery > p {
    width: 70%;
    margin-bottom: 25px;
  }

  hr {
    margin: 0 0% 0;
  }

  .footer-company-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .footer-links > a {
    color: var(--secondary);
    transition: 0.5s ease-in-out;
  }

  .footer-links > a:hover {
    color: var(--primary);
  }

  .footer-media {
    gap: 5%;
  }

  .up {
    background: var(--secondary);
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.85s ease-in-out;
  }

  .up:hover {
    background: var(--secondary-contrast);
  }

  .up img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home-image > .project-img > .project-img-box .project-img-1 {
    width: 100%;
    height: 300px;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }

  .home-image > .project-img > .project-img-box .project-img-2 {
    width: 96%;
    height: 350px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  .home-image > .project-img > .back-bg4 {
    position: absolute;
    top: 150px;
    width: 50%;
    height: 70px;
    left: 50%;
  }

  .home-image > .project-img > .project-img-box .project-img-3 {
    width: 90%;
    height: 400px;
    position: absolute;
    z-index: 3;
  }

  .hero-call, .home-info a {
    background-color: var(--secondary);
    text-align: center;
    color: var(--primary);
    width: 50%;
    padding: 1rem 1.5rem;
    border: 2px solid transparent;
    font-size: 1.1rem;
  }

  /*Service design*/
  .service {
    margin-bottom: 100px;
  }

  .back-bg3 {
    width: 150px;
    height: 20px;
  }

  .service-content {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 10px;
  }

  .service-info {
    width: 100%;
  }

  .service-images {
    width: 100%;
  }

  .service-images-box {
    width: 100%;
  }

  .service-images-box-2 {
    width: 100%;
  }

  .service-info h2 {
    width: 80%;
    color: var(--primary);
  }

  .service-info p {
    width: 80%;
    color: var(--primary);
  }

  /*Project design*/
  .project {
    margin-bottom: 150px;
    position: relative;
    padding: 1% 3%;
  }

  .project-img {
    width: 70%;
  }

  .project-img-box > .project-img-1 {
    width: 100%;
  }

  .project-img-box .project-img-2 {
    width: 96%;
  }

  .back-bg4 {
    position: absolute;
    top: 160px;
    width: 45%;
  }

  .project-img-box .project-img-3 {
    width: 90%;
  }

  .project-info {
    width: 30%;
  }

  /* Client design*/
  .client {
    margin-bottom: 150px;
    position: relative;
    padding: 1% 3%;
  }

  .client-content {
    display: flex;
  }

  .ceo-info > h2 {
    width: 90%;
    margin-bottom: 50px;
  }

  .ceo-info p {
    line-height: 1.6;
    width: 80%;
  }

  .client-details > h4 {
    font-size: var(--P-mobile);
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 13px;
  }

  .header {
    padding: 5% 5%;
    margin-bottom: 50px;
  }

  .logo-link {
    font-size: 1.6rem;
  }

  .logo > img {
    height: 20px;
  }

  div.nav-links {
    display: none;
  }

  /*Home/Hero section design*/
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1% 5%;
    margin-bottom: 100px;
    gap: 2%;
  }

  .home-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 25px;
  }

  .home-image {
    width: 100%;
  }

  .home-image > div.project-img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
  }

  .home-image > .project-img .project-img-box {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .home-image > .project-img > .project-img-box .project-img-1 {
    width: 100%;
    height: 150px;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }

  .home-image > .project-img > .project-img-box .project-img-2 {
    width: 96%;
    height: 200px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  .home-image > .project-img > .project-img-box .project-img-3 {
    width: 90%;
    height: 250px;
    position: absolute;
    z-index: 3;
  }

  .home-heading > h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  .home-para > p {
    font-size: 1.2rem;
    width: 97%;
    line-height: 1.7;
  }

  .home-info > a, .service-info > a {
    width: 40%;
    background-color: var(--secondary);
    text-align: center;
    padding: 1rem 1rem;
    color: var(--primary);
    border: 2px solid transparent;
    font-size: 1rem;
  }

  .home-info > a:hover,
  .service-info > a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
  }

  .home-heading > h1 > span,
  .about-heading > h2 > span,
  .service-heading > span,
  .project-heading > span,
  .ceo-heading > span,
  .footer-heading > span {
    position: relative;
  }

  .home-heading > h1 > span > .purple-bg,
  .about-heading > h2 > span > .purple-bg,
  .service-heading > span > .purple-bg,
  .project-heading > span > .purple-bg,
  .ceo-heading > span > .purple-bg,
  .footer-heading > span > .purple-bg {
    background: var(--accent);
    width: 85%;
    padding: 2px;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: -1;
  }

  .about {
    margin-bottom: 100px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about {
    margin-bottom: 100px;
  }

  .about-content {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .about-first-img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
  }

  .about-first-img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-first-img-wrapper > .about-img-1 {
    width: 90%;
    height: 80%;
    z-index: 3;
  }

  .about-first-img-wrapper > .about-img-2 {
    width: 95%;
    height: 90%;
    z-index: 2;
  }

  .about-first-img-wrapper > .about-img-3 {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .about-first-img-wrapper > .about-img-1 > .back-bg2 {
    top: 50px;
    width: 500px;
    height: 40px;
    z-index: -1;
  }

  .about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    gap: 40px;
    height: 500px;
  }

  .about-info h2 {
    width: 100%;
  }

  .about-info .about-para {
    text-align: center;
    width: 80%;
    line-height: 1.7;
  }

  .about-contact {
    gap: 10px;
  }

  /*Service design*/
  .service {
    background-color: rgba(0, 0, 0, 0.459);
    margin-bottom: 100px;
    position: relative;
    padding: 1% 5% 5%;
    width: 100%;
    height: fit-content;
  }

  .service-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service-images {
    width: 100%;
    flex-direction: column;
    padding: 5% 0%;
  }

  .service-images-box {
    width: 100%;
    height: 350px;
  }

  .service-images-box-2 {
    width: 100%;
    height: 350px;
  }

  .service-info h2 {
    width: 100%;
    color: var(--primary);
  }

  .service-info p {
    width: 80%;
    color: var(--primary);
  }

  .service-info a {
    font-size: 1rem;
  }

  /*Project design*/
  .project {
    margin-bottom: 100px;
    position: relative;
    padding: 1% 5%;
  }

  
.project-title {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0% 5%;
  position: relative;
}

.project-title > h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: var(--secondary-contrast);
}

.project-title > div {
  align-self: flex-end;
  color: var(--secondary-contrast);
  width: 0px;
  font-size: 2rem;
  background: white;
}

  .project-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .project-img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: start;
    position: relative;
    margin-bottom: 50px;
  }

  .project-img-box {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .project-img-box > .project-img-1 {
    width: 100%;
    height: 300px;
  }

  .project-img-box .project-img-2 {
    width: 96%;
    height: 350px;
  }

  .back-bg4 {
    position: absolute;
    top: 160px;
    width: 45%;
    height: 100px;
    z-index: 3;
    background: var(--accent);
    left: 50%;
  }

  .project-img-box .project-img-3 {
    width: 90%;
    height: 400px;
  }

  .project-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  /* Client design*/
  .client {
    margin-bottom: 150px;
    position: relative;
    padding: 1% 5%;
  }

  .client-title {
    margin-bottom: 50px;
    display: flex;
    gap: 15px;
    padding: 0px 35px 35px 0px;
    position: relative;
  }

  .client-title > h2 {
    align-self: flex-end;
    line-height: 0.7;
    color: var(--secondary-contrast);
  }

  .client-title > div {
    align-self: flex-end;
    color: var(--secondary-contrast);
    width: 100px;
    font-size: 2rem;
  }

  .client-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ceo-info {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ceo-info > h2 {
    width: 90%;
    margin-bottom: 20px;
  }

  .ceo-info p {
    line-height: 1.6;
    width: 70%;
  }

  .client-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .client-comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }

  .client-comment-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    margin: 0;
  }

  .client-review {
    margin-bottom: 25px;
  }

  .client-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
  }

  .client-details p {
    vertical-align: bottom;
  }

  /*Footer section*/
  .footer {
    margin-bottom: 0;
    padding: 2% 3%;
    background: var(--secondary-contrast);
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0%;
    margin-bottom: 50px;
  }

  .footer-head-box {
    text-align: center;
    width: 100%;
    margin-top: 25px;
    padding: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .footer-head-box > h1 {
    width: 70%;
    font-size: 2.5rem;
  }

  .footer-call-and-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2% 0%;
  }

  .footer-contact-and-gallery {
    display: flex;
    flex-direction: column;
  }

  .footer-call-and-gallery > p {
    width: 80%;
    margin-bottom: 25px;
  }

  hr {
    margin: 0 0% 0;
  }

  .footer-company-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 340px) {
  .home-info h1 {
    font-size: 2rem;
    width: 90%;
  }

  .home-info a {
    width: 50%;
  }

  .about-info h2 {
    width: 100%;
  }

  .about-info .about-para {
    width: 100%;
    line-height: 1.7;
    padding: 0% 5%;
  }

  .about-contact {
    gap: 10px;
  }

  .hero-btn {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-btn > a {
    width: 70%;
    margin-bottom: 25px;
  }

  .service-info a {
    width: 80%;
  }

  .footer-links {
    display: flex;
    gap: 0%;
    width: 100%;
    justify-content:space-evenly;
    margin-bottom: 25px;
    padding: 0% 5%;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
